@import '../../../main-styles.scss';

.root{
    display: flex;
    width: 100%;
    position: relative;
    
    &:hover{
        .x-icon-button{
            opacity: 1;
            transform: scale(1);
        }
    }
    .x-icon-button{
        position: absolute;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        background: $dark;
        cursor: pointer;
        right: -17px; // half of width
        top: -17px; // this has to be half of height

        transition: opacity 0.2s ease-in, transform 0.2s ease-in;

        transform: scale(0);
        opacity: 0;

        &:hover{
            transform: scale(1.2);
        }

    }
}

.budget-item{
    display: flex;
    width: 100%;
    background-color: $light-grey;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    .description{
        display: flex;
        flex-grow: 1;
        font-size: 18px;
        margin-left: 5px;

        //vertically center
        align-items: center;
    }

    .amount{
        padding: 5px;
        border-radius: 3px;
    }

    &:hover{
        background-color: darken($color: $light-grey, $amount: 2%);
    }
}

.expense{
    p{
        color: $red;
    }
    .amount{
        background-color: $light-red;
    }
}

.income{
    p{
        color: $green;
    }
    .amount{
        background-color: $light-green;
    }
}